html {
	margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

body {
    background-color: rgb(1, 114, 219);
    margin: 0 auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav Styling */

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.nav-ul li a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.hamburger {
    background-color: transparent;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 30px;
    border: 0;
}

.head-logo {
    margin-left: 98px;
}

@media screen and (max-width: 767px) {
    
    
    nav {
        background-color: white;
        color: black;
        top: 0;
    }
    
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
    }
    
    .nav-ul.show {
        display: flex;
        color: black;
    }

    .hamburger {
        display: block;
        color: black;
    }
    .head-logo {
        font-size: small;
        margin-left: 20px;
    }
    .nav-ul li a {
        color: black;
    }
}
