* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

body {
    background-color: darkblue;
}

/* unsure of why this method is used */
header {
    height: 70px;
}

.menu-icon {
    font-size: 2.4em;
    color: #ffffff;
    line-height: 50px;
    text-align: left;
}

.nav-logo {
    font-size: larger;
    margin-top: 5px;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: whitesmoke;
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: absolute;
    background-color: cornflowerblue;
    top: 70px;
    left: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.1s;
}

nav ul li {
    padding: 0 15px;

}

nav ul li a {
    display: inline-block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

#checkbox {
    display: none;
}

#checkbox:checked~nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: ease-in 0.1s;
}

@media (min-width: 768px) {
    .menu-icon {
        visibility: hidden;
    }
   

    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
        left: 0px;
    }

    nav ul {
        max-height: 70px;
        text-align: right;
        margin-top: 5px;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }
}