* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

html,
body {
    background-color: thistle;
}

/* unsure of why this method is used */
header {
    height: 700px;
}

.menu-icon {
    font-size: 2.4em;
    color: black;
    line-height: 50px;
    text-align: left;
}

.nav-logo {
    font-size: larger;
    margin-top: 5px;
}

/* added position fixed and width 100% */
/* issue with margin and items moving up to top */
.nav-wrap {
    display: flex;
    /* position: fixed;
    width: 100%; */
    justify-content: space-between;
    padding: 15px;
    color: black;
    background-color: whitesmoke;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.hero {
    background-image: url("/assets/images/bg-pattern.png"), #00B847;
    background-image: url("/assets/images/bg-pattern.png"), -webkit-linear-gradient(to left, #00B847, #3765F4);
    background: url("/assets/images/bg-pattern.png"), linear-gradient(to left, #00B847, #3765F4);
    width: 100%;
    height: 700px;
}


nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
}

nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s;
}

nav ul li {
    padding: 0 15px;

}

nav ul li a {
    display: inline-block;
    padding: 12px;
    color: black;
    text-decoration: none;
}

#checkbox {
    display: none;
}

#checkbox:checked~nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: ease-in 0.2s;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 60px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.hero-wrap img {
    flex-grow: 0;
    flex-shrink: 0;
}

.hero-text {
    width: 450px;
    color: #faf9f9;
    font-size: 35px;

}

img {
    width: 256px;
    margin: 20px;
    margin-left: 20px;
}

.download-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #696969;
    background-color: #e9e9e9;
    height: 420px;
}

.download-text {
    text-align: center;
    margin-top: 30px;
    width: 400px;
    font-size: large;
}

.badges {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

}

.features {
    height: 820px;
    background-color: whitesmoke;
}

.features-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    color: #696969;
}

.features-text {
    text-align: center;
    padding-top: 30px;
    font-size: large;
    color: #696969;
}

.icon {
    width: 120px;
    margin: 25px;
}

.features-video-icons {
    text-align: center;
}

.bg-scene {
    height: 500px;
    display: flex;

}

.bg-scene-wrap {
    background-image: url("/assets/images/bg-sw.png");
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.bg-scene-text {
    margin-top: 180px;
    margin-left: 40px;
    font-size: x-large;
    color: white;
}

.privacy {
    display: flex;
    flex-direction: column;
    background-color: #F8F8FA;
    color: #696969;
    ;

}

.privacy-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.privacy p {
    margin: 5px;
    max-width: 800px;
}


@media (max-width: 900px) {
    .hero-text {
        width: 450px;
        color: #faf9f9;
        font-size: 25px;
    }

    img {
        width: 200px;
        margin-left: 20px;
    }


}

@media (max-width: 900px) {
    .privacy p {
        width: 480px;
    }
}

/* fixes border with bg-scene and features sections */
@media (max-width: 768px) {
    .hero-text {
        font-size: 20px;
        margin-top: 20px;
    }

    .features {
        height: 1420px;
    }

    .features-wrap {
        height: 1294px;
    }
}

@media (max-width: 480px) {
    .hero-text {
        width: 250px;
    }

    .privacy p {
        width: 320px;
    }


}

@media (min-width: 768px) {

    .menu-icon {
        visibility: hidden;
    }

    /* on scroll added here for white background-color */
    .nav-wrap {
        background-color: transparent;
        /* position: fixed; */
        /* width: 100%; */
    }

    header.nav-colored {
        background-color: white;
        position: fixed;
        width: 100%;
    }

    .nav-logo {
        color: rgba(255, 255, 255, 0.7);
        margin-left: 50px;
    }

    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
        left: 0px;
    }

    nav ul {
        max-height: 70px;
        text-align: right;
        margin-top: 5px;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

    nav ul li a {
        color: rgba(255, 255, 255, 0.7);
    }

    .hero-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 60px;

    }

    .download-text {
        font-size: x-large;
        width: 700px;
    }

    .badges {
        display: flex;
        flex-direction: row;
        align-items: center;
    }



    .features-wrap {
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

    .features-video-wrap {
        display: flex;
        justify-content: center;
    }

    .features-video-phone {
        margin-right: 50px;
    }

    .features-text {
        font-size: x-large;
        align-items: center;
    }

    /* .features-video-phone {
        display: flex;
    } */
    .features-video-icons {
        display: flex;
    }

    .top-icons {
        display: flex;
        flex-direction: column;
    }

    .bottom-icons {
        display: flex;
        flex-direction: column;
    }


}